/* Common styles for all screen sizes */
* {
    background-color: #1e2124;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Victor Mono', monospace;
}

body {
    background-color: #1e2124;
    font-family: 'Belanosima', 'Poppins', 'Victor Mono', sans-serif;
    overflow-x: hidden;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    max-width: 600px;
    margin: 0 auto; 
}

.game button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 25px;
    padding: 5px;
    width: 100px;
    height: 100px;
}

.game button:hover {
    background-color: rgba(128, 128, 128, 0.232);
}

.game button:last-child {
    margin-right: 0; 
}

.game button img {
    width: 50px;
    padding: 5px;
    background-color: transparent;
}

h1 {
    position: relative;
    color: #fff;
    left: 84%;
    transform: translateX(-50%);
}

.pop-up {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 450px;
    background-color: #36393e;
    padding: 5px;
    border-radius: 5px;
    z-index: 100;
}

.pop-up.show {
    display: block;
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.pop-up button {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 80px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    transition-duration: 0.1s;
}

.pop-up label {
    position: absolute;
    left: 15%;
    top: 20%;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
}

.pop-up p {
    position: absolute;
    text-align: center;
    background-color: transparent;
    color: #fff;
    width: 300px;
    font-size: 20px;
    left: 80px;
    top: 70px;
    font-weight: 500;
}

.pop-up button:hover {
    transform: scale(1.100);
}

.pop-up button:active {
    outline: 0;
    border: 3px solid #fff;
    box-shadow: 0px 0px 0px 2px #7289da;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    transition: background-color 0.3s;
}

.show-overlay {
    display: block;
    opacity: 1;
}

.score {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 30px;
    background-color: #7289da;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 30px -5px #7289da;
}

.score-item {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin-bottom: 10px;
    background-color: #7289da;
}

.score-label {
    background-color: #7289da;
}

.score-value {
    margin-left: 5px;
    background-color: #7289da;
}

.reset{
    position: absolute;
    top: 0;
    margin: 10px;
    margin-left: 200px;
    margin-top: 35px;
}

.reset button{
    background-color: #7289da;
    border-radius: 30px;
    color: #fff;
    border: 0;
    outline: 0;
    height: 40px;
    width: 150px;
    transition-duration: 0.5s;
}

.reset button:hover{
    transform: scale(0.98);
    box-shadow: 0 0 30px -5px #7289da;
}

.reset button:active{
    transform: scale(0.90);
}


@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
    left: 50%;
    transform: translateX(-50%);
  }

  .game {
    max-width: 80%;
  }

  .score {
    margin: 10px;
  }

  .reset {
    position: absolute;
    top: 0;
    margin: 10px;
    margin-left: 10px;
    margin-top: 35px;
  }

  .reset button {
    width: 100px;
  }
}

@media screen and (max-width: 500px) {
    h1 {
        position: absolute;
      font-size: 20px;
      margin-bottom: 250px;
      margin-left: 50px;
    }
  
    .game {
      max-width: 90%;
      flex-direction: column;
      align-items: center;
      height: auto;
      margin-bottom: -50px;
    }
  
    .game button {
      margin-right: 0;
      margin-top: 200px; 
      margin-bottom: -150px; 
    }
  
    .reset {
      position: absolute;
      top: 0;
      margin: 10px;
      margin-left: 10px;
      margin-top: 170px;
      background-color: transparent;
    }
  
    .reset button {
      width: 100px;
    }
    .pop-up {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s, visibility 0s linear 0.3s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 200px;
        width: 350px;
        background-color: #36393e;
        padding: 5px;
        border-radius: 5px;
        z-index: 100;
    }
    .pop-up label {
        position: absolute;
        left: 10%;
        top: 20%;
        background-color: transparent;
        color: #fff;
        font-size: 20px;
    }
    
    .pop-up p {
        position: absolute;
        text-align: center;
        background-color: transparent;
        color: #fff;
        width: 300px;
        font-size: 20px;
        left: 30px;
        top: 70px;
        font-weight: 500;
    }
  }
  
  @media screen and (max-width: 420px) {
    h1 {
        position: absolute;
        font-size: 20px;
        margin-bottom: 250px;
        margin-left: 40px;
      }
  }
 
 

  
  

